<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Palette</name>
    <description>
        Create unique colour palettes using the photos you take!
    </description>
    <author email="simone.bowes@uleth.ca">
        Simone Bowes
    </author>
    <content src="index.html" />
    <access origin="*" />
    <platform name="android">
      <icon src="www/css/images/icon.png" width="180" height="180" />
    </platform>
    <plugin name="cordova-plugin-media-capture" spec="1.1.0"></plugin> 
</widget>
